mixin search
    section(id="search-section" class="jumbotron")
        form(action="/search" method="get")
            div(class="container")
                div(class="row")
                    div(class="col-sm-6 form-group")
                        label(for="search-field") Search
                        input(id="search-field" class="form-control" type="search" name="search" placeholder="Enter Your Search")
                    div(class="col-sm-6 form-group")