/* MAIN */

body {
    background: #888888;
}
#main {
    margin: 0 auto;
    width: 84%;
}

/* SEARCH SECTION */

#search-section {
    margin: 20px 0;
    padding: 4rem 4rem;
    border: 1px solid #cccccc;
}
#search-nav {
    margin: 0;
    padding: 0;
}
#search-nav .search-selector {
    display: inline-block;
    margin-right: 4px;
    padding: 4px 12px;
    background: #c5c5c5;
    text-decoration: none;
    border-top: 1px solid #999999;
    border-right: 1px solid #999999;
    border-left: 1px solid #999999;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
#search-nav .search-selector:hover {
    cursor: pointer;
}
#advanced-search {
    background: #f1f1f1;
    border: 1px solid #cccccc;
    box-shadow: 2px 2px 4px #999999;
}
#advanced-search h3 {
    width: 48%;
    margin: 24px auto;
    text-align: center;
}

#advanced-search input {
    width: 80%;
    margin-left: 24px;
}
#advanced-search #verified-users {
    height: 28px;
    width: 28px;
}
.date-form::-webkit-datetime-edit-text { 
    padding: 0 6px;
}
.date-form::-webkit-inner-spin-button { 
    display: none;
}
#search-section label {
    margin-left: 24px;
    padding: 8px 0;
}
#search-section button {
    margin: 0 0 24px 20px;
}

/* RESULT SECTION */

.tweet-container {
    margin: 20px 0;
    background: #f1f1f1;
    border: 1px solid #cccccc;
    border-radius: 5px;
    transition: all 0.8s ease-in-out;
}
.tweet-container:hover {
    background: #c5c5c5;
}
.tweet-container img {
    margin: 32px 0 32px 12px;
    height: 80px;
    border: 1px solid #ffffff;
    border-radius: 50%;
}
.tweet-container i {
    margin-right: 8px;
    color: #657786;
}
.tweet-container h2 {
    margin-top: 32px;
    font-size: 22px;
}
.tweet-container h2 a, 
.tweet-container h2 a:link, 
.tweet-container h2 a:visited {
    color: #333333;
    text-decoration: none;
    transition: all 0.8s ease-in-out;
}
.tweet-container h2 a:hover {
    color: #f53f19;
}

.tweet-container span {
    font-size: 18px;
    color: #657786;
}
.tweet-container p {
    margin: 12px 0;
    font-size: 14px;
}

.tweet-container .follower-info,
.tweet-container .retweet-count {
    font-size: 12px;
    font-style: italic;
    color: #657786;
}